<header>
  <section class="banner">
    <img class="logo" src="./logo.png" alt="gi low brand logo">
    <img class="banner" src="./banner.png" alt="gi low banner">
  </section>
  <section class="nav-area">
    {{#bs-navbar type=(if inverse 'inverse') fluid=fluid collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
      <div class="navbar-header">
        {{navbar.toggle}}
        {{#link-to "index" class="navbar-brand"}}<h1>G.I. LOW</h1>{{/link-to}}
      </div>
      {{#navbar.content}}
        {{#navbar.nav as |nav|}}
          {{#nav.item}}{{#nav.link-to "index"}}Home{{/nav.link-to}}{{/nav.item}}
        {{/navbar.nav}}
      {{/navbar.content}}
    {{/bs-navbar}}
  </section>
</header>

<main>
  {{outlet}}
</main>

<footer>
</footer>
